body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

p {
    line-height: 2;
}

hr {
    border: dotted grey 10px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

.h1-text {
    font-size: 6rem;
    margin: 10% auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: "montserrat";
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding: 1% 30%;
}

.profile {
    margin-top: 80px;
    margin-bottom: 80px;
}

.profile-pic {
    margin-bottom: 0rem;
}

.intro {
    width: 30%;
    margin: auto;
}

.html {
    width: 15%;
    float: left;
    margin-right: 20px;
}

.portfolio-title {
    margin-bottom: 2rem;
}

.contact-me {
    margin: 100px auto 100px auto;
}

.contact-message {
    width: 40%;
    margin: 3rem auto;
}


.bottom-container {
    background-color: #66BFBF;
    color: #EAF6F6;
    font-size: 12px;
    height: 150px;
    padding: 40px 0;
}


.footer-link {
    font-size: 1.2rem;
    display: inline-block;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-bottom: 20px;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    text-decoration: none;
    color: #ffffff;
}


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
